<div id="wrapper">
  <form [formGroup]="form">
    <div id="rep">
      <!-- Representative -->
      <mat-form-field [appearance]="quoteService.outlineFields ? 'outline' : 'legacy'">
        <span matPrefix *ngIf="quoteService.outlineFields && hasValue('rep')">Name of WMT&amp;R Representative</span>
        <input matInput placeholder="Name of WMT&amp;R Representative" formControlName="rep" [matAutocomplete]="autoRep" />
        <mat-hint>If applicable</mat-hint>
      </mat-form-field>
      <!-- Autocomplete for Representative -->
      <mat-autocomplete #autoRep="matAutocomplete">
        <mat-option *ngFor="let rep of filteredReps | async" [value]="rep">
          {{ rep }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div id="referral-time">
      <div id="referral">
        <!-- Referral -->
        <mat-form-field [appearance]="quoteService.outlineFields ? 'outline' : 'legacy'">
          <span matPrefix *ngIf="quoteService.outlineFields && hasValue('referral')">Referral Source</span>
          <input matInput placeholder="Referral Source" formControlName="referral" [matAutocomplete]="autoReferral" />
          <mat-hint>Specify other source if not listed</mat-hint>
        </mat-form-field>
        <!-- Autocomplete for Referral -->
        <mat-autocomplete #autoReferral="matAutocomplete">
          <mat-option *ngFor="let referral of filteredReferrals | async" [value]="referral">
            {{ referral }}
          </mat-option>
        </mat-autocomplete>
      </div>

      <!-- Turnaround Time -->
      <mat-form-field [appearance]="quoteService.outlineFields ? 'outline' : 'legacy'">
        <span matPrefix *ngIf="quoteService.outlineFields && hasValue('time')">Required Turnaround Time</span>
        <input matInput placeholder="Required Turnaround Time" formControlName="time" />
        <mat-hint>example: '2 months'</mat-hint>
      </mat-form-field>
    </div>

    <!-- Other -->
    <mat-form-field [appearance]="quoteService.outlineFields ? 'outline' : 'legacy'">
      <span matPrefix *ngIf="quoteService.outlineFields && hasValue('other')">Other Considerations</span>
      <textarea matInput placeholder="Other Considerations" formControlName="other"></textarea>
    </mat-form-field>
  </form>

  <div id="files" *ngIf="quoteService.quote.attachments.length > 0">
    <h3>Attachments</h3>
    <div class="file" *ngFor="let file of sortAttachments">
      <mat-icon matTooltip="Remove this attachment" (click)="removeUpload(file)">delete</mat-icon>
      {{ file }}
    </div>
  </div>

  <input hidden type="file" #uploader (change)="uploadFile($event.target.files)" multiple />
  
  <div id="buttons">
    <button mat-raised-button (click)="uploader.click()">
      <mat-icon>attachment</mat-icon>
      <span class="large">Attach File(s) to Your Request</span>
      <span class="small">Attach File(s)</span>
    </button>

    <button mat-raised-button color="primary" routerLink="/review">
      <mat-icon>search</mat-icon>
      <span class="large">Review Quote Request</span>
      <span class="small">Review</span>
    </button>
  </div>
</div>
