h3 mat-icon {
  cursor: pointer;
}

#contact-info, #tests {
  display: grid;
  grid-gap: 1em;  
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

td {
  padding: .5em .25em;
  vertical-align: top;
}

td:first-child {
  color: #757575;
  background-color: #f5f5f5;
}

#contact-info td:first-child,
.test-info td:first-child,
.long-test-info td:first-child,
#additional td:first-child {
  width: 35vw;
}

#contact-info,
div.test,
#additional {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1em .5em;
}

.long-test-info,
#additional > table {
  margin-top: 1em;
}

#disclaimer,
#tos {
  font-size: .8em;
  color: #757575;
  text-align: center;
  margin-top: 1em;
}

#disclaimer span {
  font-weight: bold;
}

@media (min-width:801px) {
  #contact-info {
    grid-template-columns: 1fr 1fr;
  }

  #contact-info td:first-child,
  .long-test-info td:first-child,
  .test-info td:first-child,
  #additional td:first-child {
    width: 10vw;
  }

  .test-info,
  #additional-stuff,
  #attachments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }

  #attachments {
    grid-gap: 1em;
  }
}