<mat-toolbar color="primary">
  <div>
    <a href="http://wmtr.com" target="_blank">
      <img src="../../../assets/rocketbar2.png" alt="" />
    </a>

    <div id="quote-form">
      Quote Form
    </div>

    <div id="step">
      {{ quoteService.currentStep }}

      <div id="step-num" *ngIf="quoteService.currentStepNum">
        <span id="large">Step {{ quoteService.currentStepNum }} of {{ quoteService.steps }}</span>
        <span id="small">({{ quoteService.currentStepNum }} / {{ quoteService.steps }})</span>
      </div>
    </div>
  </div>

  <mat-slide-toggle labelPosition="before" [(ngModel)]="quoteService.outlineFields">
    <label>Outline Input Fields</label>
  </mat-slide-toggle>
</mat-toolbar>